
@font-face {
  font-family: 'BabukaMtavruli';
  src: url('BabukaMtavruli.eot?#iefix') format('embedded-opentype'),  url('BabukaMtavruli.woff') format('woff'), url('BabukaMtavruli.ttf')  format('truetype'), url('BabukaMtavruli.svg#BabukaMtavruli') format('svg');
  font-weight: normal;
  font-style: normal;
}
